.panel.panel-default.panel-success
    .panel-heading On Billing by Client
    table.table
        tr
            th Client
            th Billing
        tr
            td
            td









//<div class="panel panel-default panel-success">
//    <div class="panel-heading">On Billing by Client</div>
//    <table class="table">
//        <tr>
//            <th>Client</th>
//            <th>Billing</th>
//        </tr>
//        <tr ng-repeat="entry in clientBillingCount | orderBy:billingcountsortorder">
//            <td class="onBillingClientName" ng-click="sortTable(entry)">{{entry.clientName}}</td>
//            <td>{{entry.clientCount}}</td>
//        </tr>
//    </table>
//</div>