.panel.panel-default.panel-success
    .panel-heading.text-center On Billing by Client
    table.table
        tr
            th.clientNameColumn Client
            th
            th.text-center Billing
        tr(ng-repeat="item in list | orderBy:billingCountSortOrder")
            td.cursor.clientName(ng-click="sortPanelTable(item)") {{item.client}}
            td
                btn.btn.btn-danger.filterButton(data-toggle="tooltip", title="Remove Filter", ng-show="isSelected(item)", ng-click="removeFilter()")
                    span.glyphicon.glyphicon-filter.pull-left
            td.text-center {{item.count}}