div(ng-repeat="year in years | orderBy:'-year'")
    //div.navbar-fixed-top {{year.year}}
    .row
        .col-md-2
            h1.text-center.graph_year Fiscal Year {{year}}
        .col-md-6(high-chart, year="{{year}}")
     br
    hr
