.row
    .col-md-1.col-md-offset-2
        button.btn.btn-info.pull-right(ng-click="addNew()", data-toggle="tooltip", data-placement="top", title="Add New Placement!")
            span.glyphicon.glyphicon-plus.addIcon
            //| Add Placement


    .col-md-2.form-group
        .input-group
            input.form-control(type="text", placeholder="Search...", ng-model="filterText")
            span.input-group-addon.searchIcon
                span.glyphicon.glyphicon-search

hr
.row
    .col-md-8.col-md-offset-2
        table.table.table-striped.table-hover
            thead
                tr.strong.placementRow
                    td.deleteCell
                    td.placementNameColumn.cursor(ng-click="placementSortOrder='name'; reverseSort = !reverseSort") Name
                    td.cursor(ng-click="placementSortOrder='date'; reverseSort = !reverseSort") Date
                    td.cursor(ng-click="sortColumn='client'; reverseSort = !reverseSort; sortTable()") Client
                    td.cursor(ng-click="sortColumn='type'; reverseSort = !reverseSort; sortTable()") Type
                    td.cursor(ng-click="sortColumn='onBilling'; reverseSort = !reverseSort; sortTable()") On Billing
                        span.badge.btn-warning {{onBillingCount}}
                    td Notes
            tbody
                tr(ng-repeat="placement in placements | orderBy:placementSortOrder:reverseSort | filter:filterText | filter:filterClient | filter:filterOnBilling")
                    td
                        span.glyphicon.glyphicon-minus.deleteIcon.cursor(data-toggle="modal", data-target="#deleteModal", data-placement="top", title="Delete" ng-click="setPlacementToDelete(placement)")
                    td
                        span.cursor.placementName(data-toggle="tooltip", data-placement="top", title="Edit", ng-click="editPlacement(placement)") {{placement.name}}
                    td {{placement.date | dateFilter}}
                    td {{placement.client}}
                    td {{placement.type}}
                    td(ng-class="placement.onBilling")
                        span.billingIcon.cursor.glyphicon.glyphicon-ok(data-toggle="tooltip", data-placement="top", title="Change Billing Status", ng-show="placement.onBilling | onBillingIcon", ng-click="updateBilling(placement)")
                        span.billingIcon.cursor.glyphicon.glyphicon-remove(data-toggle="tooltip", data-placement="top", title="Change Billing Status", ng-hide="placement.onBilling | onBillingIcon", ng-click="updateBilling(placement)")
                    td {{placement.notes}}
    .col-md-2
        .panel.panel-default.panel-success
            .panel-heading.text-center On Billing by Client
            table.table
                tr
                    th Client
                    th
                    th.text-center Billing
                tr(ng-repeat="item in list | orderBy:billingCountSortOrder")
                    td.cursor(ng-click="sortPanelTable(item)") {{item.client}}
                    td
                        btn.btn.btn-danger.filterButton(data-toggle="tooltip", title="Remove Filter", ng-show="isSelected(item)", ng-click="removeFilter()")
                            span.glyphicon.glyphicon-filter.pull-left
                    td.text-center {{item.count}}



#deleteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                    span.sr-only Close
                h4#myModalLabel.modal-title Delete Placement
            .modal-body
                | Do you want to delete the placement of {{placementToDelete.name}}?
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                button.btn.btn-primary(type='button', data-dismiss='modal', ng-click="deletePlacement()") Yes

