doctype html
html
  head
    title Placement Tracker
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-slate-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui-min.css')
  body(ng-app='app')
    block content
    include scripts